*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/*Top Bar*/
#top-bar {
    height: 40px;
}
#top-bar .contact-info a {
    transition: 0.3s;
}
#top-bar .social-links a {
    transition: 0.3s;
}
/*Header*/
.container a:hover {
    color: #1c5c93 !important;
    text-decoration: none;
}
.nav-item a:hover{
    color: #1c5c93 !important;
}
/*hero*/
.carousel-caption{
    right: 55%!important;
    top: 32%!important;
}
.carousel-caption .btn:hover{
    background: #880808, i !important;;
    border: #880808;
}
/*services*/
#services .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
    overflow: hidden;
}
#services .icon:hover{
    box-shadow: 0px 0 40px #880808 ;
}
#services .title a:hover{
    color:#880808 !important;
}
#services .title a {
    transition: 0.3s;
}
#services .title::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #880808;
    bottom: 0;
    left: calc(50% - 25px);
}
/*About Us*/
#about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#428bca 50%, rgba(66, 139, 202, 0.4) 52%);
    border-radius: 50%;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}
#about .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(66, 139, 202, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}
#about .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
}
#about .icon-box .icon {
    float: left;
    width: 72px;
    height: 72px;
    border-radius: 6px;
    transition: 0.5s;
}
.counts .count-box {
    box-shadow: 0px 0 16px rgb(0 0 0 / 10%);
}
.counts .count-box p {
    font-family: "Raleway", sans-serif;
}
/* Contact */
.contact .info-box {
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    width: 100%;
}
.contact .info-box i {
    border-radius: 50%;
}
#inputRequest{
    height: 100px;
}

/* Media Queries*/
@media screen and (max-width:850px) {
    .carousel-caption h5{
        margin-bottom: 0px;
    }
    .carousel-caption{
        width: 50%;
    }
}
@media screen and (min-width:424px) and (max-width:769px){
    .carousel-caption{
        top: 25% !important;
        width: 59%;
    }
    .btn{
        display: inline-block!important;
        margin-top: 8px;
    }
}
@media screen and (max-width:424px){
    .btn{
        display: none!important;
    }
    .carousel-caption{
        width: 68%;
    }
}
@media screen and (max-width:330px) {
    .carousel-caption{
        top: 21%!important;
    }  
}
@media screen and (max-width:456px) {
    .btn{
        margin-top: 0!important;
    }  
}
