*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/*Top Bar*/
#top-bar {
    height: 40px;
}
#top-bar .contact-info a {
    transition: 0.3s;
}
#top-bar .social-links a {
    transition: 0.3s;
}
/*Header*/
.container a:hover {
    color: #1c5c93 !important;
    text-decoration: none;
}
.nav-item a:hover{
    color: #1c5c93 !important;
}
/*hero*/
.carousel-caption{
    right: 55%!important;
    top: 32%!important;
}
.carousel-caption .btn:hover{
    background: #880808, i !important;;
    border: #880808;
}
/*services*/
#services .icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.5s;
    box-shadow: 0px 0 25px rgb(0 0 0 / 15%);
    overflow: hidden;
}
#services .icon:hover{
    box-shadow: 0px 0 40px #880808 ;
}
#services .title a:hover{
    color:#880808 !important;
}
#services .title a {
    transition: 0.3s;
}
/*About Us*/
#about .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#428bca 50%, rgba(66, 139, 202, 0.4) 52%);
    border-radius: 50%;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
    overflow: hidden;
}
#about .icon-box .icon {
    float: left;
    width: 72px;
    height: 72px;
    border-radius: 6px;
    transition: 0.5s;
}
.counts .count-box {
    box-shadow: 0px 0 16px rgb(0 0 0 / 10%);
}
.counts .count-box p {
    font-family: "Raleway", sans-serif;
}
/* Contact */
.contact .info-box {
    box-shadow: 0 0 30px rgb(214 215 216 / 60%);
    width: 100%;
}
.contact .info-box i {
    border-radius: 50%;
}
#inputRequest{
    height: 100px;
}
/* Media Queries*/
@media screen and (max-width:850px){
    .carousel-caption{
        width: 68%;
    }
}


